a{
    color: crimson;
    text-decoration: none;
}
.about{
    background-color: #eaeaea;
}
.users span{
    font-weight: bold;
    
}
span:nth-child(2) {
    color: crimson;
  }
.creators a{
font-family: "Lato";
text-decoration: none;
 }
 .cta h2{
    color: crimson;
    font-family:"Lato";
 }

 ul li:nth-child(odd) {
    color: red;
  }

  .creators .link {
    font-family: "Lato", sans-serif;
  }

  .creators .link.font {
    font-family: "Pt serif", serif;
  }